footer {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    text-align: center;

    p {
      font-size: 1.4rem;
      line-height: 1.694rem;
    }
  }
}

@media (width >= 999px) {
  footer {
    .text {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }
}