#skills {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 3.2rem 1.6rem;

  h2 {
    font-size: 3.2rem;
    line-height: 3.873rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.skills-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;

  .skills-items {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}