$primary-color-light: #f0f0f0;
$primary-bg-light: #e9e9e9;
$secondary-bg-light: #c7c8c9;
$border-light: #c7c8c9;
$title-light: #0b0b0f;
$text-light: #28292e;
$link-light: #28292e;
$icon-light: #56575a;

$primary-color-dark: #0b0b0f;
$primary-bg-dark: #111217;
$secondary-bg-dark: #28292e;
$border-dark: #28292e;
$title-dark: #f0f0f0;
$text-dark: #9a9a9c;
$link-dark: #9a9a9c;
$icon-dark: #c7c8c9;

$gray100: #dfdfdf;
$gray300: #b1b1b3;
$gray400: #9a9a9c;
$gray500: #828385;
$gray600: #6c6d70;
$gray700: #56575a;
$gray800: #3f3f43;

$inter: "Inter", sans-serif;
$spartan: "League Spartan", sans-serif;
