@import "./_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $inter;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3 {
  font-family: $spartan;
  font-weight: 400;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#app {
  width: 100%;
  max-width: 90vw;
  margin: 4rem auto;
  padding: 1.5rem;
}

