#home {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  p {
    font-size: 2rem;
    line-height: 2.42rem;
    font-weight: 300;
  }
}
#home {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    h1, span {
      font-size: 4rem;
      font-weight: 400;
    }
    
    span {
      font-weight: 300;
    }
  }  
}


.social-media {
  display: flex;
  gap: 1.6rem;
}

.btn-home {
  border: 2px solid;
  margin-bottom: 2.4rem;
  border-radius: 2rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 2.42rem;
  letter-spacing: 0.05rem;
}

@media (width >= 999px) {
  #home {
    margin: 13.3rem 0 8rem;
    gap: 3.2rem;

    .title {
      h1, span {
        font-size: 10rem;
        line-height: 10rem;
      }
    }

    p {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }
}

.btn-home {
  padding: .5rem 3rem;
  width: max-content;
}