@import "./_variables";

html.light {
  * {
    color: #28292e;
  }

  body {
    background-color: $primary-bg-light;
  }

  #home {
    p {
      color: $text-light;
    }
  }
}

html.light {
  .social-media {
    a {
      color: $border-light;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid $border-light;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      transition: background-color 0.5s, border .5s, box-shadow .5s, transform .5s;

      &:hover {
        background-color: $border-light;
        border: none;
        box-shadow: 0 0 2rem $border-light;
        transform: scale(1.2);
      }
    }

  }
}

html.light {
  .btn-home {
    background-color: transparent;
    border: 2px solid $border-light;
    transition: all .5s;
    
    &:hover {
      background-color: $secondary-bg-light;
      border: none;
      box-shadow: 0 0 2.5rem $border-light;
    }
  }
}

html.light {
  .menu-items {
    background-color: $secondary-bg-light;
    
    &:hover {
      a {
        opacity: 0.25;
      }
    }

    a {
      color: $text-light;
      
      &:hover {
        color: $title-light;
        opacity: 1;
      }
    }
    
  }
}