.menu-toggle {
  position: relative;
  z-index: 10;
}
.menu-items {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 50vw;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem 5rem;
  
  a {
    transition: color .5s, opacity .5s;
    font-size: 2rem;
  }
}
