#home {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  p {
    font-size: 2rem;
    line-height: 2.42rem;
    font-weight: 300;
  }
}

.title {
  h1, span {
    font-size: 4rem;
    font-weight: 400;
  }
  
  span {
    font-weight: 300;
  }
}

.social-media {
  display: flex;
  gap: 1.6rem;
}

.btn-home {
  border: 2px solid;
  margin-bottom: 2.4rem;
  border-radius: 2rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 2.42rem;
  letter-spacing: 0.05rem;
}